@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Playpen+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Playpen+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Sumana&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: content-box;
	font-family: 'Merriweather', serif;
	list-style: none;
	scroll-behavior: smooth;
	text-decoration: none;
}

:root {
	/* color-scheme: light dark; */
	--text-color: #f5f5f5;
	--hover-color: #12f7ff;
	--bg-color: #042831;
	--big-font: 2.5rem;
	--normal-font: 2rem;
	--neon-box-shadow: 0 0 0.8rem #12f7ff;
	--h2-font: 3rem;
	--p-font: 1rem;
	--font-neon-text-shadow: 0 0 10px rgba(18, 247, 255, 0.3),
		0 0 20px rgba(18, 247, 255, 0.3), 0 0 30px rgba(18, 247, 255, 0.3),
		0 0 40px rgba(18, 247, 255, 0.3), 0 0 70px rgba(18, 247, 255, 0.3),
		0 0 80px rgba(18, 247, 255, 0.3), 0 0 100px rgba(18, 247, 255, 0.3),
		0 0 150px rgba(18, 247, 255, 0.3);
	/* styles for the theme button */
	--slide-ease: cubic-bezier(0.4, -0.3, 0.6, 1.3);
	--slide-ease: cubic-bezier(0.8, -0.3, 0.2, 1.3);
	--easing: var(--slide-ease);
	--speed: 0.5s;
	--width: clamp(50px, 45vmin, 100px);
	--ar: 8 / 3;
	--ray: hsl(0 0% 100% / 0.5);
	--sun: hsl(47, 91%, 58%);
	--moon: hsl(212, 13%, 82%);
	--crater: hsl(221, 16%, 68%);
	--bg: hsl(219, 30%, 88%);
	--bear-speed: 10s;
	--header-color: rgb(12, 70, 84);
	--header-li-color: #fff;
	--project-card-color: rgba(255, 255, 255, 0.1);
	--project-card-ul-color: #91c6ff70;
}

/* @media (prefers-color-scheme: dark) {
	body {
		background-color: var(--bg-color);
	}
} */

body {
	background-color: var(--bg-color);
	color: var(--text-color);
}

/* @media (prefers-color-scheme: light) { */
.dark-mode {
	body {
		--bg-color: rgb(224, 239, 158);
		background-color: var(--bg-color);
		color: black;
		--font-neon-text-shadow: 0 0 10px rgba(50, 18, 255, 0.3),
			0 0 20px rgba(73, 18, 255, 0.3);
		--header-li-color: black;
		/* 0 0 30px rgba(50, 18, 255, 0.3); */
		/* 0 0 40px rgba(18, 247, 255, 0.3), 0 0 70px rgba(18, 247, 255, 0.3); */
		--hover-color: #0b3233;
		--header-color: rgb(196, 220, 88);
		/* 0 0 80px rgba(18, 69, 255, 0.3), 0 0 100px rgba(18, 30, 255, 0.3),
			0 0 150px rgba(18, 113, 255, 0.3); */
		--project-card-color: rgba(72, 222, 75, 0.17);
		--project-card-ul-color: #c4dc5894;
	}
}

/* header {
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 10%;
	background: transparent;
	border-bottom: 1px solid transparent;
} */

/* .logo {
	font-size: 26px;
	font-weight: 700;
	letter-spacing: 1px;
	animation: topToBottom 1s ease forwards;
	padding-left: 48px;
} */

span {
	color: var(--hover-color);
}

/* .navlist {
	display: flex;
} */

/* .nav_list a {
	font-size: var(--p-font);
	color: var(--text-color);
	font-weight: 500;
	padding: 10px 27px;
	animation: slideAnimate 1s ease forwards;
	animation-delay: calc(0.2s * var(--a));
}

.nav_list a:hover {
	color: var(--hover-color);
	text-shadow: 0 0 10px rgba(18, 247, 255, 0.6),
		0 0 20px rgba(18, 247, 255, 0.6), 0 0 30px rgba(18, 247, 255, 0.6),
		0 0 40px rgba(18, 247, 255, 0.6), 0 0 70px rgba(18, 247, 255, 0.6),
		0 0 80px rgba(18, 247, 255, 0.6), 0 0 100px rgba(18, 247, 255, 0.6),
		0 0 150px rgba(18, 247, 255, 0.6);
}

.nav_list a.active {
	color: var(--hover-color);
} */

/* section {
	padding: 100px 10%;
} */

.home {
	height: 100%;
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 4rem;
	padding: 100px 10%;
}

@media (max-width: 768px) {
	.home {
		grid-template-columns: 1fr;
	}
}

.home-content {
	width: 100%;
}

.home-content h1 {
	font-size: var(--big-font);
	font-weight: 700;
	font-family: 'Merriweather', serif;
	animation: leftToRight 1.5s ease forwards;
	/* padding-bottom: 10px; */
}

.home-content h3 {
	font-size: var(--normal-font);
	/* font-weight: 700; */
	font-family: 'Merriweather', serif;
	/* color: var(--hover-color); */
	position: relative;
	text-shadow: var(--font-neon-text-shadow);
	animation: neon-animation 1.5s ease-in-out infinite alternate;
	padding-top: 20px;
}

.home-content p {
	position: relative;
	font-size: var(--p-font);
	/* color: #bdbdbd; */
	line-height: 1.7;
	padding-top: 25px;
	padding-bottom: 25px;
	word-spacing: 3px;
}

.home-content p::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: var(--bg-color);
	animation: showTop 2s ease forwards;
	animation-delay: 1s;
}

.info-box {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	width: 320px;
	margin: 1rem 0 2rem;
}

.info-box .email-info {
	animation: leftToRight 2s ease forwards;
}

.info-box h5 {
	padding-bottom: 6px;
	font-size: var(--p-font);
	font-weight: 600;
	/* color: var(--text-color); */
}

.info-box span {
	font-size: 0.9rem;
	/* color: #bdbdbd; */
}

.home-content .btn-box {
	display: flex;
	justify-content: space-between;
	width: 320px;
	height: 45px;
}

.home-content .btn-box a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 100%;
	background: transparent;
	color: var(--hover-color);
	border: 2px solid var(--hover-color);
	font-size: var(--text-color);
	letter-spacing: 1px;
	font-weight: 600;
	overflow: hidden;
	transition: 0.6s;
	box-shadow: var(--font-neon-text-shadow);
	z-index: 1;
	position: relative;
	border-radius: 5px;
}

.btn-box a:hover {
	color: var(--bg-color);
}

.home-content .btn-box a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: var(--hover-color);
	width: 0;
	z-index: -1;
	transition: 0.6s;
}

.home-content .btn-box a:hover::before {
	width: 100%;
}

.btn-box a:nth-child(1) {
	background: var(--hover-color);
	color: var(--bg-color);
	animation: leftToRight 4s ease forwards;
}

.btn-box a:nth-child(1)::before {
	background: var(--bg-color);
}

.btn-box a:nth-child(1):hover {
	color: var(--hover-color);
}

.home-image {
	position: relative;
}

.img-box {
	text-align: center;
}

.img-box img {
	width: 100%;
	max-width: 350px;
	height: auto;
	animation: topToBottom ease 3s forwards;
}

@keyframes showTop {
	100% {
		width: 0;
	}
}

@keyframes neon-animation {
	from {
		opacity: 1;
		text-shadow: var(--font-neon-text-shadow);
	}
	to {
		opacity: 0.6;
		text-shadow: none;
	}
}

@keyframes topToBottom {
	0% {
		opacity: 0;
		transform: translateY(-200px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideAnimate {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes leftToRight {
	0% {
		opacity: 0;
		transform: translateX(-300px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

/* .header {
	background-color: rgb(19, 22, 26);
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 9999;
}

.header_content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 30px;
	min-height: 60px;
} */

/* .nav {
	transition: all 0.3s ease-in-out;
}

.nav_list {
	display: flex;
	column-gap: 40px;
}

.nav_item {
} */

/* .nav_link {
	color: rgba(255, 255, 255, 0.75);
	font-size: 15px;
	transition: all 0.4s;
} */

/* .nav_link:hover,
.nav_link:focus {
	color: rgba(255, 255, 255, 1);
} */

/* .hamburger {
	display: none;
	cursor: pointer;
}

.bar {
	height: 2px;
	width: 27px;
	background: #fff;
	margin: 5px 0;
	opacity: 0.8;
	transition: all 0.3s ease-in-out;
}

.home--down {
	transform: translateY(200px);
	transition: all 0.3s;
	overflow: hidden;
	margin-top: 90px;
	padding-top: 0px;
}

.nav--open {
	transform: translate(0) !important;
	z-index: 1000;
	overflow: hidden;
}

.hamburger--open .bar:nth-child(1) {
	transform: translateY(7px) rotate(45deg);
}
.hamburger--open .bar:nth-child(2) {
	opacity: 0;
}
.hamburger--open .bar:nth-child(3) {
	transform: translateY(-7px) rotate(-45deg);
} */

/* @media (max-width: 650px) {
	.nav {
		position: fixed;
		top: 60px;
		left: 0;
		background-color: rgb(19, 22, 26);
		width: 100%;
		padding: 10px 0 25px;
		transform: translateX(-100%);
	}
	.nav_list {
		flex-direction: column;
		align-items: center;
		row-gap: 20px;
	}

	.nav_link {
		font-size: 14px;
	}

	.hamburger {
		display: block;
	}
} */

.iconify {
	font-size: 46px;
}
.tech-header {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Merriweather', serif;
	font-size: 60px;
	text-align: center;
}

.tech-header-2 {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Merriweather', serif;
	padding-top: 12px;
	font-size: 36px;
}
.tech-content {
	border: 1px solid aliceblue;
	background: url(https://res.cloudinary.com/ez-nettools/image/upload/v1634744986/barnwood-large-texture1_blgapl.jpg)
		center -12px;
	padding: 10px;
}

.tech-content ul {
	list-style-type: none;
	padding: none;
	margin: 0;
}

.tech-content li {
	display: inline-block;
	padding: 15px;
}

.tech-content li .tooltiptext {
	visibility: hidden;
	width: 100px;
	background-color: #b8b88c;
	color: #192121;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 9999;
	margin-left: -90px;
	margin-top: -34px;

	opacity: 0;
	transition: opacity 1s;
}

.tech-content li:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
.points li {
	display: flex;
	align-items: baseline;
}

.points li p {
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 10px;
	font-family: 'Merriweather', serif;
	line-height: 1.5;
}

/* @media (max-width: 576px) {
	.tech-content ul {
		display: block;
	}

	.tech-content li {
		display: block;
		width: 100%;
	}
} */

@media (max-width: 576px) {
	.home-content {
		order: 1;
	}

	.bicycle-ride {
		order: 2;
	}

	.tech-content {
		order: 3;
	}

	.workspace {
		order: 4;
	}

	.points {
		order: 5;
	}

	.tech-header {
		font-size: 36px; /* Use the desired font size for smaller screens */
	}

	.tech-header-2 {
		font-size: 24px;
	}

	.logo {
		padding-left: 0;
	}
}
